<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm comment delete</title>
</head>
<body><br><br><br>
<div style="text-align: center;">
    <li><a href="{% url "listing" %}">Home</a></li><br>
    <form method="post">
        {% csrf_token %}
        <p class="margin-bottom">Are you sure want to delete comment?</p>
        <button class="btn">Yes</button>
    </form>
</div>
</body>
</html>