<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAD URL</title>
</head>
<body><br><br><br>
<div style="text-align: center;">
<h1>404! Page not found</h1><br>
<h3><a href="{% url "listing" %}">Home</a></h3>
</div>
</body>
</html>