<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
</head>
<body><br><br><br>
<div style="text-align: center;">
Logged in: {{ request.user }} <a href="{% url "logout" %}">Log out</a><br>

    <li><a href="{% url "create" %}">Create new thread</a></li><br><br><br>

    <h1>LIST OF THREADS</h1>
    {% for t in threads %}
        <li><a href="{%  url "detail-thread" t.id %}">{{ t.title }}</a> <b>({{ t.author.username }})</b></li><br>
    {% endfor %}

    <h1>YOUR LAST POSTS</h1>
    <h3>THREADS</h3>
    {%  for p in posts %}
        <li>{{ p.title }}</li>
    {% endfor %}
    _________________________________________________
    <h3>COMMENTS</h3>
    {% for c in comms %}
        <li>{{ c.text }} <b>({{ c.thread.title }})</b></li>
    {% endfor %}
</div>
</body>
</html>