<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Thread</title>
</head>
<body><br><br><br>
<div style="text-align: center;">
    <li><a href="{% url "listing" %}">Home</a></li><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</div>
</body>
</html>