<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body><br><br><br>
<div style="text-align: center;">
    Logged in: {{ request.user }}   <a href="{% url "logout" %}">Log out</a><br><br>
    <li><a href="{% url "listing" %}">Home</a></li><br>

    <li><a href="{% url "update" object.pk %}">Update Thread</a></li>
    <li><a href="{% url "delete" object.pk %}">Delete Thread</a></li>

    <h1>{{ object.title }}</h1>
    {{ object.text }}<br><br>

    <h3>COMMENTS:</h3>
    {% for comment in object.comment_set.all %}
        {{ comment.text }}<br> <b>({{ comment.user }}, likes: {{ comment.get_number_of_likes }})</b><br>

        {% if request.user == comment.user %}
            <a href="{% url "form-update-comment" comment.pk %}">Edit</a>
            <a href="{% url "form-delete-comment" comment.pk %}">Delete</a>
        {% else %}
            <a href="{% url "like-comment" comment.pk %}">Like</a>
        {% endif %}<br><br>

    {% endfor %}

    <br><br>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button>Submit</button>
    </form>
</div>
</body>
</html>